body {
  font: 13px "Trebuchet MS";
  min-width: 1000px;
}

* {
  margin: 0;
  padding: 0;
}

#nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 187px;
  background: url("images/header-wrapper-bg.png");
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin: auto;
  max-width: 1000px;
}

nav > a {
  display: block;
  text-decoration: none;
  font-family: 'Cookie';
  color: #fff;
  width: 221px;
  height: 110px;
  background: url("images/logo-bg.png");
  text-align: center;
  font-size: 60px;
  line-height: 110px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100vw - 221px);
  max-width: 500px;
}

@media screen and (max-width: 1000px) {
  nav {
    margin-left: 0px;
  }
}

nav li {
  margin: auto;
}

nav li a {
  display: block;
  letter-spacing: -1px;
  font: 16px 'Arvo';
  color: white;
  text-decoration: none;
  /* border: 1px solid yellow; */
}

#active {
  padding: 5px 15px;
  /* width:  */
  border-radius: 5px;
  background-color: #881111;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

header {
  /* display: flex; */
  /* height: 340px; */
  background: url("images/banner-wrapper-bg.png");
  padding: 32px 0px;
}

#banner {
  /* display: flex; */
  width: 960px;
  height: 278px;
  border-radius: 10px;
  margin: auto;
  background: url("images/banner-caption-bg.png") 0px 205px no-repeat, url("images/banner-image.jpg") no-repeat;
  font: 35px 'Cookie';
  color: white;
  text-align: center;
  line-height: 487px;
}

.center, .center2 {
  width: 1000px;
  margin: auto;
}

main {
  background: url("images/page-wrapper-bg.png");
  padding: 30px 0px;
}

section {
  background: white;
  width: 630px;
  padding: 30px 0px;
  border-radius: 5px;
  float: left;
  /* border: 1px solid black; */
  /* margin: 30px auto; */
}

.main_div {
  padding: 30px 30px 0px;
  /* margin: 0px 30px; */
}

h1 {
  font: 32px "Arvo";
  letter-spacing: -1px;
  color: #550000;
}

.p_posted {
  width: 330px;
  height: 38px;
  background: url("images/sidebar-title-bg.png");
  padding-left: 30px;
  /* margin: 20px 0px; */
  font: 16px "Arvo";
  letter-spacing: -1px;
  color: white;
  line-height: 38px;
  /* box-sizing: content-box; */
  /* font-weight: bold; */
}

.p_posted a {
  color: white;
  text-decoration: none;
}

#main_a {
  display: block;
  width: 570px;
  height: 196px;
  background: url("images/pics01.jpg");
  border-radius: 5px;
  margin: 25px 0px;
}

#posted_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* border: 1px solid black; */
  padding: 0px 20px;
  font: 16px "Arvo";
  line-height: 67px;
  letter-spacing: 0px;
  color: #772222;
  background: url("images/posted-meta-bg.png");
}

#posted_div a {
  color: #772222;
  /* text-decoration: none; */
}

#main_p {
  line-height: 2;
  padding-bottom: 20px;
}

aside {
  /* border: 1px solid black; */
  width: 300px;
  /* padding: 30px 0px; */
  margin-left: 670px;
  /* background: url("images/sidebar-bg-02.png"); */
}

#aside_top {
  /* width: 100%; */
  height: 15px;
  background: url("images/sidebar-bg-01.png");
}

#aside_center {
  background: url("images/sidebar-bg-02.png");
  padding: 20px 0px 0px;
}

#aside_bottom {
  height: 15px;
  background: url("images/sidebar-bg-03.png");
}

.aside_p {
  line-height: 2;
  padding: 20px 30px;
  color: #ddbbbb;
}

.aside_a {
  color: white;
  text-decoration: none;
  line-height: 2.6;
}

aside li {
  list-style-type: none;
  margin: 0px 30px;
  border-bottom: 1px solid #331111;
}

aside ul {
  padding: 20px 0px;
}

aside li:last-of-type {
  border: none;
}

aside p:last-of-type {
  padding-bottom: 10px;
}

footer {
  /* height: 283px; */
  background: url("images/footer-content-bg-02.png");
}

.footer_div {
  border: 1px solid #331111;
  margin: 40px 30px 20px 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 3px #442222;
          box-shadow: 0px 0px 3px 3px #442222;
}

.center2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  color: white;
  padding: 20px 30px 0px;
}

#footer2 {
  height: 115px;
  background: url("images/footer-bg.png");
  text-align: center;
  color: #784F45;
  padding-top: 40px;
}

#footer2 a {
  color: #784F45;
}
/*# sourceMappingURL=styles23S.css.map */